# AI
google-genai
pydantic>=2.0
pydantic-settings

# Backend
fastapi
uvicorn
websockets

# Memory
pymongo
chromadb

# Automation
pyperclip
pygetwindow
pywin32
pyautogui
send2trash

# Voice
sounddevice
keyboard
faster-whisper
SpeechRecognition

# Utilities
loguru
python-dotenv
pyyaml
rich
typer

# Testing
pytest
playwright
instagrapi
pypdf
python-docx
mss
pytesseract
